# <font size='10' color='#1ABC9C'> Feature Selection </font>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
## When using the 'inline' backend, 
## your matplotlib graphs will be included in your notebook, next to the code.
import seaborn as sns

pd.pandas.set_option('display.max_columns',None)

In [3]:
dataset=pd.read_csv('X_train.csv')
dataset_X_test= pd.read_csv('X_test.csv')
##What's the shape of data set
print(dataset.shape , dataset_X_test.shape)

(2924, 11) (1204, 11)

In [4]:
dataset.head()

,income,age,yrsed,creddebt,othdebt,cars,carvalue,default,jobsat,homeown,edcat5
0,0.493023,1.926400,6.185219,10.237995,8.208367,0.998525,4.796342,1,2,1,0
1,0.673929,2.437668,6.529808,9.210532,9.229978,0.998525,4.678775,1,2,1,0
2,0.298995,3.882171,5.839109,8.431431,7.318274,1.261345,3.735732,0,4,0,0
3,0.110763,2.160968,5.839109,6.934734,6.472727,0.998525,2.896900,0,3,1,0
4,0.451989,2.543884,5.141952,8.628361,8.958405,1.449042,4.362570,1,2,1,0

In [5]:
## We will use Lasso Regression for feature selection as it provides more significat features in less time
  ## else using Linear regression we need to adjust and test number of features again and again
from sklearn.linear_model import Lasso
#from sklearn.linear_model import LinearRegression
#from sklearn.feature_selection import RFE #RFE (Recursive Feature Elimination)
from sklearn.feature_selection import SelectFromModel

In [6]:
## capturing the dependent feature
y_train = dataset['income'].copy()
y_test = dataset_X_test['income'].copy()

In [7]:
print(y_train)

0       0.493023
1       0.673929
2       0.298995
3       0.110763
4       0.451989
          ...
2919    0.738478
2920    0.790897
2921    0.298995
2922    0.261057
2923    0.545686
Name: income, Length: 2924, dtype: float64

In [8]:
##Droping Dependent variable from the dataset
x_train=dataset.drop(['income'],axis=1)
x_test = dataset_X_test.drop(['income'],axis=1)

In [9]:
print(x_train)

           age     yrsed   creddebt   othdebt      cars  carvalue  default  \
0     1.926400  6.185219  10.237995  8.208367  0.998525  4.796342        1
1     2.437668  6.529808   9.210532  9.229978  0.998525  4.678775        1
2     3.882171  5.839109   8.431431  7.318274  1.261345  3.735732        0
3     2.160968  5.839109   6.934734  6.472727  0.998525  2.896900        0
4     2.543884  5.141952   8.628361  8.958405  1.449042  4.362570        1
...        ...       ...        ...       ...       ...       ...      ...
2919  3.757383  2.635795   8.078851  7.637457  0.998525  5.012626        0
2920  3.090653  5.839109   7.569085  9.615385  0.998525  5.952365        0
2921  3.799260  6.529808   7.179989  6.816028  1.449042  3.173055        0
2922  1.926400  4.082139   6.917965  6.536839  1.449042  3.879889        1
2923  3.586927  5.141952   8.738928  6.745687  1.261345  4.584872        0

      jobsat  homeown  edcat5
0          2        1       0
1          2        1       0
2          4        0       0
3          3        1       0
4          2        1       0
...      ...      ...     ...
2919       3        1       0
2920       3        1       0
2921       3        0       0
2922       4        0       0
2923       1        0       0

[2924 rows x 10 columns]

used Liner Regression for finding the good features, seems not efficient way.

In [10]:
# RFE_regressor = LinearRegression()
# rfe = RFE(RFE_regressor ,3)
#Transforming data using RFE
# x_train_rfe_1 = rfe.fit_transform(x_train,y_train)  
#Fitting the data to model
# RFE_regressor.fit(x_train,y_train) 
# print(rfe.support_)
# print(rfe.ranking_)

In [11]:
# selected_features = x_train.columns[rfe.support_]

# print('total number of features : {}'.format(x_train.shape[1]))
# print('total number of selected features : {}'.format(len(selected_features)))

Now using Lasso for feature selection

In [12]:
#Alpha = 0.005 , random_sate =3
feature_sel_model1 = SelectFromModel(Lasso(alpha=0.005,random_state=3))
feature_sel_model1.fit(x_train,y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=3))

In [14]:
feature_sel_model1.get_support()

array([False,  True,  True,  True, False,  True, False,  True, False,
       False])

In [15]:
 selected_features = x_train.columns[feature_sel_model1.get_support()]

print('total number of features : {}'.format(x_train.shape[1]))
print('total number of selected features : {}'.format(len(selected_features)))

total number of features : 10
total number of selected features : 5

In [16]:
x_train=x_train[selected_features]
x_train.head()

      yrsed   creddebt   othdebt  carvalue  jobsat
0  6.185219  10.237995  8.208367  4.796342       2
1  6.529808   9.210532  9.229978  4.678775       2
2  5.839109   8.431431  7.318274  3.735732       4
3  5.839109   6.934734  6.472727  2.896900       3
4  5.141952   8.628361  8.958405  4.362570       2

### Final Selected features for the Model are 
    1. creddebt
    2. othdebt
    3. carvalue
    4. jobsat
    5. yrsed

In [17]:
x_train.columns

Index(['yrsed', 'creddebt', 'othdebt', 'carvalue', 'jobsat'], dtype='object')

In [18]:
x_train

         yrsed   creddebt   othdebt  carvalue  jobsat
0     6.185219  10.237995  8.208367  4.796342       2
1     6.529808   9.210532  9.229978  4.678775       2
2     5.839109   8.431431  7.318274  3.735732       4
3     5.839109   6.934734  6.472727  2.896900       3
4     5.141952   8.628361  8.958405  4.362570       2
...        ...        ...       ...       ...     ...
2919  2.635795   8.078851  7.637457  5.012626       3
2920  5.839109   7.569085  9.615385  5.952365       3
2921  6.529808   7.179989  6.816028  3.173055       3
2922  4.082139   6.917965  6.536839  3.879889       4
2923  5.141952   8.738928  6.745687  4.584872       1

[2924 rows x 5 columns]

In [19]:

x_test=x_test[selected_features]
x_test.head()

      yrsed   creddebt   othdebt  carvalue  jobsat
0  4.997266   9.995950  7.436486  7.233021       4
1  2.586415   8.208726  4.943148  5.362351       2
2  4.997266  10.975775  7.505781  6.232234       2
3  3.981558  11.027726  5.853502  4.106146       1
4  5.992761  10.649078  8.276538  6.049061       1

In [20]:
x_test.shape

(1204, 5)

In [21]:
x_train.to_csv('X_train.csv',index=False)
y_train.to_csv('Y_train.csv',index=False)
print (x_train.shape , y_train.shape)

(2924, 5) (2924,)

In [22]:
x_test.to_csv('X_test.csv',index=False)
y_test.to_csv('Y_test.csv',index=False)
print(x_test.shape,y_test.shape)

(1204, 5) (1204,)

### We have selected our Features , now Proceeding to model building.