# <font size='10' color='#1ABC9C'> Model Creation </font>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
## When using the 'inline' backend, 
## your matplotlib graphs will be included in your notebook, next to the code.
import seaborn as sns
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
pd.pandas.set_option('display.max_columns',None)

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [2]:
dataset=pd.read_csv('X_train.csv')

##What's the shape of data set
print(dataset.shape)

(3155, 13)

In [3]:
dataset.head()

,income,age,yrsed,edcat,yrsempl,creddebt,othdebt,default,jobsat,homeown,address,cars,carvalue
0,2.772589,1.000000,0.411765,0.25,0.653846,0.475553,0.424034,0.0,0.75,0.0,0.771930,0.166667,0.354501
1,3.583519,0.114754,0.705882,0.75,0.000000,0.717623,0.532861,1.0,0.25,1.0,0.070175,0.000000,0.620105
2,4.127134,0.262295,0.764706,0.75,0.057692,0.632413,0.617074,1.0,0.25,1.0,0.140351,0.000000,0.594209
3,3.044522,0.770492,0.647059,0.75,0.442308,0.566571,0.457758,0.0,0.75,0.0,0.210526,0.166667,0.391828
4,2.564949,0.180328,0.647059,0.75,0.057692,0.436658,0.384711,0.0,0.50,1.0,0.105263,0.000000,0.220521

In [4]:
## capturing the dependent feature
y_train = dataset['income']

In [5]:
##Droping Dependent variable from the dataset
x_train=dataset.drop(['income'],axis=1)

## Droping unselected features
x_train=dataset.drop(['age','yrsed','default','address','cars'],axis=1)

### List of Selected Features :- 
    1. edcat
    2. yrsempl
    3. creddebt
    4. othdebt
    5. jobsat
    6. homeown
    7. carvalue

In [6]:
test_dataSet =pd.read_csv('X_test.csv')

test_dataSet.head()

,income,age,yrsed,edcat,yrsempl,creddebt,othdebt,default,jobsat,homeown,address,cars,carvalue
0,4.477337,0.459016,0.529412,0.50,0.211538,0.532582,0.537874,0.0,0.75,1.0,0.315789,0.166667,0.797952
1,3.688879,0.573770,0.117647,0.00,0.269231,0.417300,0.288202,0.0,0.25,1.0,0.315789,0.166667,0.512073
2,3.891820,0.245902,0.529412,0.50,0.115385,0.593294,0.544614,0.0,0.25,1.0,0.192982,0.000000,0.644696
3,2.890372,0.032787,0.352941,0.25,0.019231,0.596469,0.381121,1.0,0.00,0.0,0.000000,0.166667,0.321673
4,3.951244,0.803279,0.705882,0.75,0.096154,0.573228,0.618974,1.0,0.00,0.0,0.456140,0.166667,0.616721

In [7]:
y_test = test_dataSet['income']
x_test  = test_dataSet.drop(['age','yrsed','default','address','cars'],axis=1)

### Model 1

In [8]:
LR.fit(x_train,y_train)

LinearRegression()

In [13]:
y_prediction = LR.predict(x_test)
y_prediction

array([4.47733681, 3.68887945, 3.8918203 , ..., 3.80666249, 3.55534806,
       2.39789527])

In [10]:
x_test.tail(3)

        income  edcat   yrsempl  creddebt   othdebt  jobsat  homeown  carvalue
1350  3.806662   0.50  0.134615  0.568094  0.336089    0.75      1.0  0.624551
1351  3.555348   0.75  0.115385  0.533909  0.540715    0.75      0.0  0.592969
1352  2.397895   0.75  0.307692  0.428130  0.423912    1.00      1.0  0.235513

In [11]:
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  1.0
mean_sqrd_error is== 2.136862688569851e-31
root_mean_squared error of is== 4.622621213737776e-16