# <font size='10' color='#1ABC9C'> Feature Selection </font>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
## When using the 'inline' backend, 
## your matplotlib graphs will be included in your notebook, next to the code.
import seaborn as sns

pd.pandas.set_option('display.max_columns',None)

In [2]:
dataset=pd.read_csv('X_train.csv')

##What's the shape of data set
print(dataset.shape)

(3155, 13)

In [3]:
dataset.head()

,income,age,yrsed,edcat,yrsempl,creddebt,othdebt,default,jobsat,homeown,address,cars,carvalue
0,2.772589,1.000000,0.411765,0.25,0.653846,0.475553,0.424034,0.0,0.75,0.0,0.771930,0.166667,0.354501
1,3.583519,0.114754,0.705882,0.75,0.000000,0.717623,0.532861,1.0,0.25,1.0,0.070175,0.000000,0.620105
2,4.127134,0.262295,0.764706,0.75,0.057692,0.632413,0.617074,1.0,0.25,1.0,0.140351,0.000000,0.594209
3,3.044522,0.770492,0.647059,0.75,0.442308,0.566571,0.457758,0.0,0.75,0.0,0.210526,0.166667,0.391828
4,2.564949,0.180328,0.647059,0.75,0.057692,0.436658,0.384711,0.0,0.50,1.0,0.105263,0.000000,0.220521

In [4]:
## We will use Lasso Regression for feature selection as it provides more significat features in less time
  ## else using Linear regression we need to adjust and test number of features again and again
from sklearn.linear_model import Lasso
#from sklearn.linear_model import LinearRegression
#from sklearn.feature_selection import RFE #RFE (Recursive Feature Elimination)
from sklearn.feature_selection import SelectFromModel

In [5]:
## capturing the dependent feature
y_train = dataset['income']

In [6]:
print(y_train)

0       2.772589
1       3.583519
2       4.127134
3       3.044522
4       2.564949
          ...
3150    4.330733
3151    4.499810
3152    3.044522
3153    2.944439
3154    3.737670
Name: income, Length: 3155, dtype: float64

In [7]:
##Droping Dependent variable from the dataset
x_train=dataset.drop(['income'],axis=1)

In [8]:
print(x_train)

           age     yrsed  edcat   yrsempl  creddebt   othdebt  default  \
0     1.000000  0.411765   0.25  0.653846  0.475553  0.424034      0.0
1     0.114754  0.705882   0.75  0.000000  0.717623  0.532861      1.0
2     0.262295  0.764706   0.75  0.057692  0.632413  0.617074      1.0
3     0.770492  0.647059   0.75  0.442308  0.566571  0.457758      0.0
4     0.180328  0.647059   0.75  0.057692  0.436658  0.384711      0.0
...        ...       ...    ...       ...       ...       ...      ...
3150  0.721311  0.117647   0.00  0.346154  0.536394  0.484889      0.0
3151  0.475410  0.647059   0.75  0.076923  0.492312  0.648344      0.0
3152  0.737705  0.764706   0.75  0.346154  0.458285  0.414584      0.0
3153  0.114754  0.352941   0.25  0.076923  0.435174  0.390313      1.0
3154  0.655738  0.529412   0.50  0.076923  0.592692  0.408487      0.0

      jobsat  homeown   address      cars  carvalue
0       0.75      0.0  0.771930  0.166667  0.354501
1       0.25      1.0  0.070175  0.000000  0.620105
2       0.25      1.0  0.140351  0.000000  0.594209
3       0.75      0.0  0.210526  0.166667  0.391828
4       0.50      1.0  0.105263  0.000000  0.220521
...      ...      ...       ...       ...       ...
3150    0.50      1.0  0.438596  0.000000  0.668112
3151    0.50      1.0  0.315789  0.000000  0.881941
3152    0.50      0.0  0.315789  0.333333  0.275944
3153    0.75      0.0  0.052632  0.333333  0.422125
3154    0.00      0.0  0.368421  0.166667  0.573627

[3155 rows x 12 columns]

used Liner Regression for finding the good features, seems not efficient way.

In [9]:
# RFE_regressor = LinearRegression()
# rfe = RFE(RFE_regressor ,3)
#Transforming data using RFE
# x_train_rfe_1 = rfe.fit_transform(x_train,y_train)  
#Fitting the data to model
# RFE_regressor.fit(x_train,y_train) 
# print(rfe.support_)
# print(rfe.ranking_)

In [10]:
# selected_features = x_train.columns[rfe.support_]

# print('total number of features : {}'.format(x_train.shape[1]))
# print('total number of selected features : {}'.format(len(selected_features)))

Now using Lasso for feature selection

In [11]:
#Alpha = 0.5 , random_sate =3
feature_sel_model1 = SelectFromModel(Lasso(alpha=0.005,random_state=3))
feature_sel_model1.fit(x_train,y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=3))

In [12]:
feature_sel_model1.get_support()

array([False, False,  True,  True,  True,  True, False,  True,  True,
       False, False,  True])

In [15]:
 selected_features = x_train.columns[feature_sel_model1.get_support()]

print('total number of features : {}'.format(x_train.shape[1]))
print('total number of selected features : {}'.format(len(selected_features)))

total number of features : 12
total number of selected features : 7

In [16]:
x_train_1=x_train[selected_features].head()
x_train_1

   edcat   yrsempl  creddebt   othdebt  jobsat  homeown  carvalue
0   0.25  0.653846  0.475553  0.424034    0.75      0.0  0.354501
1   0.75  0.000000  0.717623  0.532861    0.25      1.0  0.620105
2   0.75  0.057692  0.632413  0.617074    0.25      1.0  0.594209
3   0.75  0.442308  0.566571  0.457758    0.75      0.0  0.391828
4   0.75  0.057692  0.436658  0.384711    0.50      1.0  0.220521